%tr
  %td= link_to institution.title, institution_path(institution)
  %td= institution.published ? 'Да' : 'Нет'
  %td.commands
    = link_to 'Удалить', institution_path(institution), :method => :delete, :class => 'ym-button ym-delete'
    = link_to 'Редактировать', edit_institution_path(institution), :class => 'ym-button ym-edit'