.breadcrumbs
  Заведения

= link_to 'Новое заведение', new_institution_path, :class => :new_link

%table.obj_table
  %thead
    %th Заведение
    %th Опубликовано
    %th
  %tbody
    = render collection