%blockquote
  Заведения

= link_to 'Новое заведение', new_institution_path, :class => 'ym-button ym-add'

%table.bordertable
  %thead
    %th Заведение
    %th Опубликовано
    %th
  %tbody
    = render collection