%tr
  %td= link_to institution_kind.title, edit_institution_class_institution_kind_path(institution_kind.institution_class,institution_kind)
  %td.commands= link_to 'удалить', institution_class_institution_kind_path(institution_kind.institution_class,institution_kind), :method => :delete, :class =>'ym-button ym-delete'