%tr
  %td
    = kind.institution.address
  %td
    = kind.institution.title
  %td
    = kind.institution_kind.title
  %td
    - kind.institution_kind.attributes.each do |attribute|
      = raw attribute_value_tag(attribute, kind.attributes_hash[attribute.kind.to_sym][attribute.id] )
