%tr
  %td
    = kind.institution.address
  %td
    = kind.institution.title
  %td
    = kind.institution_kind.title
  %td
    - kind.institution_kind.parameters.each do |parameter|
      = raw parameter_value_tag(parameter, kind.parameters_hash[parameter.kind.to_sym][parameter.id] )
