.filter
  - InstitutionKind.all.each do |kind|
    = link_to kind.title, root_path(:kind => kind.id)
    &nbsp;&nbsp;

- if params[:kind]
  %table.bordertable
    %tbody
      = render :partial => 'index/kind', :collection => @kinds