%tr
  %td= link_to institution_class.title, edit_resource_path(institution_class)
  %td= institution_class.institution_kinds.size
  %td.commands= link_to 'удалить', resource_path(institution_class), :method => :delete, :class =>'ym-button ym-delete'