%blockquote
  Классы заведений

= link_to 'Новый класс', new_institution_class_path, :class => 'ym-button ym-add'

%table.bordertable
  %thead
    %th Классы заведений
    %th{:width => '150px'} Количество типов
    %th{:width => '200px'}
  %tbody
    = render collection