@charset 'utf-8';

body {padding:50px;}
h1 {font-size:24px;}
.new_link {
  padding-top:14px;
}
a {
  color: #066cc6;
  &:hover {
    text-decoration:underline;
  }
}
.obj_table {
  width:700px;
  margin:7px 0;
  td, th {
    padding:7px;
    border: 1px solid #e0e0e0;
  }
  th {
    background-color: #ededed;
  }
  td.commands {
    width:80px;
    text-align:center;
    a {
      padding:5px 0;
    }
  }
}
.top_menu {
  margin: 14px 0;
  a {
    padding-right:20px;
  }
  padding-bottom:4px;
  border-bottom: 1px solid gray;
}
.buttons {
  width:700px;
  margin-top:14px;
  li {
    float:left;
    width:100px;
  }
}

.breadcrumbs {
  font-size:12px;
  margin:10px 0 50px 0;
}

.formtastic {
 width:700px;
 li {
   display:block;
 }
 label {
  width:150px;
  display:block;
  float:left;
 }
}